.container{
    width: 120px;
    display: flex;
    height: 100%;
}

.active{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 10px;
    font-weight: 600;
    white-space: nowrap;
    font-size: 14px;
}
